---
import BaseLayout from '../layouts/BaseLayout.astro';
import bannerImage from '../assets/banner/600x400.png';
---

<BaseLayout>
  <h1 class="p-4 bg-sky-500/100">Tailwind is working!</h1>
  <div class="custom-class">SCSS works too</div>
  <img src={bannerImage.src} alt="test" />
</BaseLayout>
