$primary-color: lightgreen;

body {
  background-color: rgba($primary-color, 0.6);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  @apply mb-2;
}

h1 {
  @apply text-xl font-bold mb-2;
}

.custom-class {
  @apply p-4 shadow rounded border border-sky-600 bg-neutral-100;
  margin: 10px 0;
}
