---
import "../styles/tailwind.css";
import "../scss/main.scss";

const { title = "Default Title", description = "Default description" } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <script src="../js/main.js"></script>
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <nav
      class="flex justify-center space-x-4 bg-sky-100 border-b border-sky-600 top-0 sticky shadow"
    >
      <div class="p-4">
        <a class="text-blue-700 hover:text-blue-800" href="/"
          >Link to Homepage</a
        >
      </div>
      <div class="p-4">
        <a class="text-blue-700 hover:text-blue-800" href="/about"
          >Link to About page</a
        >
      </div>
      <div class="p-4">
        <a class="text-blue-700 hover:text-blue-800" href="/pokemon"
          >Link to Pokémon</a
        >
      </div>
    </nav>
    <main class="p-4">
      <slot />
    </main>
  </body>
</html>
